/* font-family: 'Josefin Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Source Serif Pro', serif;

font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
  background-color: var(--on-background);
}

.App {
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
}

.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  box-shadow: 0px -2px 10px var(--background);
  background-color: black;
}

.navbar img {
  width: 50px;
}

.searchbar {
  display: flex;
  position: relative;
  /* background-color: #ff2d2d; */
}

.searchbar input {
  width: 25vw;
  height: 6vh;
  outline: none;
  border: 0;
  padding: 10px 0px 10px 20px;
  font-size: 20px;
  border-radius: 5vw;
  background-color: white;
}

.searchbar .btn {
  /* background-color: #1b9999; */
  /* border: 3px solid black; */
  position: absolute;
  top: 0px;
  right: 0px;
  height: 6vh;
  width: 10vw;
  background-color: white;
  outline: none;
  border: 0;
  border-radius: 5vw;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  /* padding: 10px; */
}

.searchbar .btn:hover {
  border: 1px solid black;
}

.feed {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;

  background-color: black;
  color: white;
  overflow-x: hidden;
}

.sidebar {
  /* position: fixed; */
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  border-right: 0.5px solid whitesmoke;
  overflow-y: scroll;
  background-color: black;
}

.sidebar .feed-h2 {
  font-size: 15px;
  font-weight: 300;
  color: gray;
}

.btns-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.highlight-btn,
.sidebar-btn {
  border: 0;
  outline: none;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border-radius: 25px;
  transition: all 0.2s ease;
  text-align: left;
  font-size: 20px;
  padding-left: 0.5vw;
}

.highlight-btn {
  background-color: red;
  color: white;
}

.sidebar-btn {
  background-color: black;
  color: white;
}

.sidebar-btn:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.sidebar-btn:hover .sidebar-icon {
  color: white;
}

.highlight-icon {
  color: white;
  margin: 0px 10px;
  transition: all 0.2s ease;
}

.sidebar-icon {
  color: red;
  margin: 0px 10px;
  transition: all 0.2s ease;
}

/* main feed section */

.main-feed {
  width: 85%;
  color: white;
  overflow-y: scroll;
  /* padding: 0 30px; */
  overflow-x: hidden;
}

.main-feed h2 {
  padding-left: 50px;
}

.text-highlight {
  color: red;
}

/* videos section */

.videos-div {
  /* width: 85vw; */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto; */
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: auto;
  overflow-x: hidden;
}

/* .video-div {
  width: 300px;
  height: 250px;
  margin: 20px 5px;
} */

.inner-video-card {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 5px;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
}

.videocard img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.videocard-content {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.videotitle {
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 15px;

  /* text-underline-offset: ; */
}

.channeltitle {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  color: white;
  color: gray;
  font-size: 13px;
}

.checkmark {
  color: white;
  /* background-color: gray; */
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 2px;
}

/* Link {
  text-decoration: none;
  color: red;
} */

.inner-channelcard {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 5px;
}

.channelcard img {
  width: 180px;
  height: 180px;

  border-radius: 50%;
}

/* channel detail section */

.channel-detail {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.cover-pic {
  width: 100%;
  height: 300px;
  background-color: lightcoral;
  object-fit: cover;
  object-position: center;
}

.subscribers {
  color: white;
}

.channel-videos {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loader */

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader-circle {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 10px solid white;
  border-top: 10px solid black;
  animation: anim 0.8s linear infinite;
}

@keyframes anim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* video detail */

.video-detail {
  width: 100vw;
  height: auto;
  padding: 0 10vw;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  /* overflow: hidden; */
}

.react-player {
  width: 80%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  text-align: left;
  /* overflow: hidden; */
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
}

.react-video-player {
  width: 100% !important;
  height: 80% !important;
}

.name-likes-views {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.channel-title {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.likes-views {
  display: flex;
  flex-direction: row;
}

.likes-views > * {
  margin: 0px 10px;
}

.related-videos-div {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.related-videos-div .videos-div {
  display: flex;
  flex-direction: column;
}

/* search feed */

.search-feed {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  overflow-x: hidden;
}

/* media query */

@media screen and (max-width: 1400px) {
  .video-detail {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 1250px) {
  .video-detail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .react-player {
    width: 70%;
    height: 50vh;
    margin: 50px 0;
  }

  .related-videos-div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .related-videos-div .videos-div {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1050px) {
  .highlight-btn,
  .sidebar-btn {
    width: auto;
    padding: 20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
  .video-detail {
    padding: 0 1vw;
  }
  .react-player {
    width: 85%;
    height: 50vh;
  }
}

/* media query */

@media screen and (max-width: 1000px) {
  .navbar {
    height: 10vh;
  }

  .searchbar input {
    width: 25vw;
    height: 4vh;
  }

  .searchbar .btn {
    height: 4vh;
  }
  .feed {
    width: 100vw;
    height: 90vh;
    flex-direction: column;
  }

  .sidebar {
    width: 100vw;
    /* height: 50vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0;
    margin: 0;
    border: 0;
  }

  .btns-div {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 10vh;
    align-items: center;
    /* justify-content: center; */
    overflow-y: hidden;
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
  }

  .highlight-btn,
  .sidebar-btn {
    /* width: auto; */
    height: 3vh;
    margin: 5px 10px;
    text-align: left;
    font-size: 15px;
  }

  .feed-h2 {
    padding: 10px;
  }

  .main-feed {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .searchbar input {
    width: 45vw;
  }
  .inner-video-card {
    width: 250px;
    height: 250px;
    margin: 20px;
  }
  .inner-channelcard {
    width: 250px;
    height: 250px;
  }

  .searchbar .btn {
    border-radius: 50px;
    /* padding: 20px; */
  }

  .react-player {
    width: 95%;
    height: 40vh;
  }

  .likes-views {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .searchbar input {
    width: 60vw;
    font-size: 15px;
  }

  .sidebar {
    overflow: scroll;
    min-height: 15vh;
  }

  .btns-div {
    /* min-height: 50vh; */
    overflow: scroll;
  }
  .inner-video-card {
    width: 300px;
    height: 250px;
    margin: 20px;
  }

  .videocard img {
    width: 100%;
    height: 60%;
  }

  .main-feed {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .react-player {
    width: 100%;
    padding: 20px 5px;
  }
  .likes-views {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }

  .likes-views > * {
    margin: 0px 5px;
  }
}

@media screen and (max-width: 350px) {
  .inner-video-card {
    width: 250px;
    height: 250px;
    margin: 20px;
  }
}
